# Assignment

In [1]:
pythonlist = ['Ama', 54, 'Kojo', 45.5, 'Yhup', 52, 'Kwame', 96, 'Kwesi', 87, 'Roland', True, 'Nti',
             45, 78.5, 'William', 68, 45.3, 78, 'Patty', False, 98, True, 'Adwoa',21, 65, 'Pappy',
             14, 'Folly', False, 52, 'Pency']

1. create four empty lists:
a. Floats
b. Ints
c. Strings
d. Booleans


2. For each item in the "pythonlist", place it in the right set created above.

3. For the strings and booleans sets, sort the items

4. For the int set, print out the 3rd and 5th highest number

5. For the float set, print out the 2nd largest number

## Question 1

In [7]:
pythonlist = ['Ama', 54, 'Kojo', 45.5, 'Yhup', 52, 'Kwame', 96, 'Kwesi', 87, 'Roland', True, 'Nti',
             45, 78.5, 'William', 68, 45.3, 78, 'Patty', False, 98, True, 'Adwoa',21, 65, 'Pappy',
             14, 'Folly', False, 52, 'Pency']

In [9]:
Floatlist = ()
Intslist = ()
Stringlist = ' '
Booleanlist = ()

## Question 2

In [17]:
floatlist = [48.5, 78.5, 45.3]

In [26]:
intlist = [54, 52, 96, 87, 45, 68, 78, 98, 21, 65, 14, 52]

In [22]:
stringlist = ['Ama', 'Kojo', 'Yhup', 'Kwame', 'Kwesi', 'Roland', 'Nti', 'William', 'Patty', 'Adwoa', 'Pappy', 'Folly', 'Pency']

In [21]:
booleanlist = [True, False, True, False]

## Question 3

In [16]:
stringlist = ['Ama', 'Kojo', 'Yhup', 'Kwame', 'Kwesi', 'Roland', 'Nti', 'William', 'Patty', 'Adwoa', 'Pappy', 'Folly', 'Pency']
stringlist.sort()
print(stringlist)

['Adwoa', 'Ama', 'Folly', 'Kojo', 'Kwame', 'Kwesi', 'Nti', 'Pappy', 'Patty', 'Pency', 'Roland', 'William', 'Yhup']

## Question 4

In [28]:
intlist = [54, 52, 96, 87, 45, 68, 78, 98, 21, 65, 14, 52]
intlist.sort(reverse=True)
print(intlist[2])

87

In [29]:
print(intlist[4])

68

## Question 5

In [32]:
floatlist = [48.5, 78.5, 45.3]
floatlist.sort(reverse=True)
print(floatlist[1])

48.5